.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0.2rem 2.5rem;
  height: 6rem;
  border-radius: 0 0 2rem 2rem;
  overflow: hidden;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 7.5rem;
  width: auto;
  display: block;
  object-fit: contain;
}

.nav-buttons {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-family: var(--font-serif);
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--dark-brown);
  border: 1px solid transparent;
}

.nav-btn.active {
  background-color: var(--dark-brown);
  color: var(--white);
}
