.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 0rem 2.5rem;
  height: 6rem;
  border-radius: 0 0 2rem 2rem;
  overflow: visible;
  position: relative;
  z-index: 10;
}

.logo img {
  height: 6rem;
  width: auto;
  object-fit: contain;
}

.burger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--dark-brown);
  z-index: 11;
}

.nav-buttons {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-family: var(--font-serif);
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--dark-brown);
}

.nav-btn.active {
  background-color: var(--dark-brown);
  color: var(--white);
}

@media (max-width: 768px) {

  .burger {
    display: block;
  }

  .nav-buttons {
    display: none;
    position: fixed; 
    top: 6rem; 
    left: 0;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.9);
    flex-direction: column;
  }

  .nav-buttons.open {
    display: flex !important;
  }

  .nav-btn {
    width: 100%;
    text-align: center;
    color: white;
    padding: 1rem 0;
    background: none;
    font-size: 1.2rem; 
     border-radius: 0px;
  }

  .nav-btn.active {
    background-color: transparent;
  }


  .nav-btn:hover {
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px var(--grey);
  }

}



