.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 1.5rem 2rem;
  border-radius: 0 0 2rem 2rem;
}

.logo {
  font-size: 2rem;
  font-style: italic;
  font-family: var(--font-serif);
}

.nav-buttons {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  background-color: transparent;
  border: none;
  font-family: var(--font-serif);
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--dark-brown);
  border: 1px solid transparent;
}



.nav-btn.active {
  background-color: var(--dark-brown);
  color: var(--white);
}