/* 1. add media queries to make the pannel responsive 
   you can check other components css for template
2. make style buttons responsive 
3. add hover effect to all buttons 
4. play with the focus property on input if you want to add effect

! in my opinion inputs look fine already
! in the future we will need to change the wrapper div 
  to a form element instead of div, to submit the user 
  options to the api  */


.userinput-wrapper {
  background-color: var(--dark-green);
  width: 90%;
  max-width: 48rem;
  margin: 0 auto;
  padding: 3rem 2rem;
  color: white;
  font-family: var(--font-serif);
  box-sizing: border-box;
  text-align: center;
}

.userinput-wrapper p {
  font-style: italic;
  margin: 2rem 0 1rem;
}

.userinput-wrapper input,
.dropdown {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-sizing: border-box;
  font-family: var(--font-serif);
}

.dropdown {
  appearance: none;
  background-color: white;
  color: var(--dark-green);
}

.style-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.style-buttons button {
  width: 8rem;
  padding: 1rem;
  background-color: #808080;
  color: var(--dark-green);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-family: var(--font-serif);
}

/* .style-buttons button:focus {
  background-color: white;
} */
.style-buttons .active {
  background-color: white;
}

.generate-btn {
  margin-top: 2rem;
  background-color: var(--off-white);
  color: var(--dark-brown);
  padding: 1.5rem 3rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-family: var(--font-serif);
  border-radius: 3rem;
}


