:root {
  /* color palette */
  --black: #000000;
  --dark-green: #253439;
  --dark-brown: #423e3a;
  --brown: #665e57;
  --grey: #7c898b;
  --off-white: #f6f4f1;
  --white: #ffffff;

  /* fonts */
  --font-sans: 'Hammersmith One', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

html,
body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: var(--font-sans);
  background-color: var(--dark-green);
  color: var(--dark-brown);
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
}
