:root {
  /* color palette */
  --black: #000000;
  --dark-green: #253439;
  --dark-brown: #423E3A;
  --brown: #665E57;
  --grey: #7C898B;
  --off-white: #F6F4F1;
  --white: #FFFFFF;

  /* fonts */
  --font-sans: 'Hammersmith One', sans-serif;
  --font-serif: 'Playfair Display', serif;
 
}


body {
  font-family: var(--font-sans);
  background-color: var(--dark-green);
  color: var(--dark-brown);
  margin: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: 1rem;
}

@media (max-width: 767px) {
  h1 {
  font-size: 1.7rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  h3 {
  font-size: 1.5rem;
}
  p {
    font-size: 0.9rem;
  }
}